<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.rippy.db.mapper.EventMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.rippy.db.entity.Event" extends="dev.abelab.rippy.db.mapper.base.EventBaseMapper.ResultMapWithBLOBs"></resultMap>
    <resultMap id="BaseEventDateResultMap" type="dev.abelab.rippy.db.entity.EventDate" extends="dev.abelab.rippy.db.mapper.base.EventDateBaseMapper.BaseResultMap"></resultMap>

    <resultMap id="EventWithDatesResultMap" type="dev.abelab.rippy.db.entity.join.EventWithDates" extends="BaseResultMap">
        <collection property="dates" ofType="dev.abelab.rippy.db.entity.EventDate" resultMap="BaseEventDateResultMap" columnPrefix="d_"></collection>
    </resultMap>

    <select id="selectAllWithDates" resultMap="EventWithDatesResultMap">
        select

        e.*,

        ed.id as d_id,
        ed.event_id as d_event_id,
        ed.date_order as d_date_order,
        ed.start_at as d_start_at,
        ed.finish_at as d_finish_at

        from event e
        left join event_date ed on e.id = ed.event_id
    </select>

</mapper>
