<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.rippy.db.mapper.EventDateMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.rippy.db.entity.EventDate" extends="dev.abelab.rippy.db.mapper.base.EventDateBaseMapper.BaseResultMap"></resultMap>

    <insert id="bulkInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO event_date(event_id, date_order, start_at, finish_at) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.eventId}, #{item.dateOrder}, #{item.startAt}, #{item.finishAt})
        </foreach>
    </insert>

</mapper>
