<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.rippy.db.mapper.EventMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.rippy.db.entity.Event" extends="dev.abelab.rippy.db.mapper.base.EventBaseMapper.ResultMapWithBLOBs"></resultMap>
    <resultMap id="BaseEventDateResultMap" type="dev.abelab.rippy.db.entity.EventDate" extends="dev.abelab.rippy.db.mapper.base.EventDateBaseMapper.BaseResultMap"></resultMap>

    <resultMap id="EventWithDatesResultMap" type="dev.abelab.rippy.db.entity.join.EventWithDates" extends="BaseResultMap">
        <collection property="dates" ofType="dev.abelab.rippy.db.entity.EventDate" resultMap="BaseEventDateResultMap" columnPrefix="event_date__"></collection>
    </resultMap>

    <select id="selectAllWithDates" resultMap="EventWithDatesResultMap">
        SELECT

        event.*,

        event_date.id AS event_date__id,
        event_date.event_id AS event_date__event_id,
        event_date.date_order AS event_date__date_order,
        event_date.start_at AS event_date__start_at,
        event_date.finish_at AS event_date__finish_at

        FROM event event
        LEFT JOIN event_date event_date ON event.id = event_date.event_id
    </select>

    <select id="selectWithDatesById" parameterType="java.lang.Integer" resultMap="EventWithDatesResultMap">
        SELECT

        event.*,

        event_date.id AS event_date__id,
        event_date.event_id AS event_date__event_id,
        event_date.date_order AS event_date__date_order,
        event_date.start_at AS event_date__start_at,
        event_date.finish_at AS event_date__finish_at

        FROM event event
        LEFT JOIN event_date event_date ON event.id = event_date.event_id
        WHERE event.id = #{id}
    </select>

</mapper>
