<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.rippy.db.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.rippy.db.entity.User" extends="dev.abelab.rippy.db.mapper.base.UserBaseMapper.BaseResultMap"></resultMap>
    <resultMap id="BaseEventDateResultMap" type="dev.abelab.rippy.db.entity.EventDate" extends="dev.abelab.rippy.db.mapper.base.EventDateBaseMapper.BaseResultMap"></resultMap>
    <resultMap id="BaseEventDateAnswerResultMap" type="dev.abelab.rippy.db.entity.EventDateAnswer" extends="dev.abelab.rippy.db.mapper.base.EventDateAnswerBaseMapper.BaseResultMap"></resultMap>

    <resultMap id="EventDateWithAnswerResultMap" type="dev.abelab.rippy.db.entity.join.EventDateWithAnswer" extends="BaseEventDateResultMap">
        <association property="answer" resultMap="BaseEventDateAnswerResultMap" columnPrefix="answer__"></association>
    </resultMap>
    <resultMap id="UserWithDatesResultMap" type="dev.abelab.rippy.db.entity.join.UserWithDates" extends="BaseResultMap">
        <collection property="dates" ofType="dev.abelab.rippy.db.entity.join.EventDateWithAnswer" resultMap="EventDateWithAnswerResultMap" columnPrefix="event_date__"></collection>
    </resultMap>

    <select id="selectWithDatesByEventId" parameterType="java.lang.Integer" resultMap="UserWithDatesResultMap">
        SELECT

        user.*,

        event_date.id AS event_date__id,
        event_date.event_id AS event_date__event_id,
        event_date.date_order AS event_date__date_order,
        event_date.start_at AS event_date__start_at,
        event_date.finish_at AS event_date__finish_at,

        event_date_answer.answer_id AS event_date__answer__answer_id,
        event_date_answer.date_id AS event_date__answer__date_id,
        event_date_answer.is_possible AS event_date__answer__is_possible

        FROM user
        CROSS JOIN event_date
        LEFT JOIN event_answer ON user.id = event_answer.user_id
        LEFT JOIN event_date_answer ON event_date.id = event_date_answer.date_id AND event_answer.id = event_date_answer.answer_id
        WHERE event_answer.event_id = #{event_id}
    </select>

</mapper>
